.container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#canvas {
    display: none;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }


